body {
    font-family: 'Helvetica Neue',arial,helvetica,sans-serif;
}

h1 {
    color: #333;
    font-size: 24px;
    line-height: 35px;
    font-weight: 100;
    letter-spacing: 1px;
    border-bottom: 1px solid #CCC;
}

#main {
    width: 980px;
    margin:  0 auto;
}

